#portfolio-card {
  /* height: 40vh;
  margin: 27.5vh 0; */
  border: none;
  background-color: whitesmoke;
}

#portfolio-horizontal-div {
  overflow-x: scroll;
  overflow: auto;
  flex-wrap: auto;
  display: flex;
  height: 50vh;
  margin: 10vh 0;
  -webkit-overflow-scrolling: touch;
}

.projectCards {
  min-height: 300px;
  min-width: 300px;
  margin-right: 15px;
  display: inline;
  
}

