#homeCard{
    border-color: white;
}

.socialMediaLinks {
    margin: 24px 0;
    padding: 0;
    /* text-shadow: 0px 1px 2px rgba(0, 0, 0, .5); */
    text-align: center;
 }

.socialMediaLinks li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    vertical-align: middle;

 }

.socialMediaLinks li a { color:#5bc0de; }
.socialMediaLinks li a:hover { color: #F34213; }