#loading-icon:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: whitesmoke;
}

h1 {
  color: #2e2e3a;
}

hr {
  border-color: #bc5d2e;
  /* line-height: 2px; */
}

h5 {
  color: #2e2e3a;
}

#home-container {
  height: 100%;
}

#about-container {
  height: 100%;
}

#portfolio-container {
  height: 100%;
}

#contact-container {
  height: 100%;
}

@media screen and (min-width: 768px) {
  #home-container {
    height: 100vh;
  }

  #about-container {
    height: 100vh;
  }

  #portfolio-container {
    height: 100vh;
  }

  #contact-container {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  #portfolio-container {
    height: 100vh;
  }

  #contact-container {
    height: 100vh;
  }
}
